.zoom-25 {
    zoom: 0.25;
    -moz-transform: scale(0.25);
}
.zoom-50 {
    zoom: 0.5;
    -moz-transform: scale(0.5);
}
.zoom-75 {
    zoom: 0.75;
    -moz-transform: scale(0.75);
}

/* Landing page */
.scale-to-screen {
    /*zoom: 0.4;
    -moz-transform: scale(0.4);*/
}
.landing-bg {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    width: 2880px;
    height: 1800px;
    background: linear-gradient(to bottom, #220816, #420A0A);
}
.landing-login {
    display: block;
    margin-top: -1140px;
    margin-left: 1200px;
}
.landing-logo {
    display: inline-block;
    margin-left: 240px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 80px;
}
.loading {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    margin-left: 380px;
    margin-top: 1400px;
    display: inline-block;
}

/* Login field */
.login-field {
    display: block;
    text-align: center;
}
.login-title {
    color: #FFFFFF;
    font-family: 'Conv_EASansCurves-Regular', Sans-Serif;
    font-size: 4em;
    font-weight: 300;
    margin-top: 48px;
    margin-bottom: 24px;
    display: inline-block;
}
.login-validation {
    color: #FF0000;
    font-family: Sans-Serif;
    font-size: 1em;
    visibility: hidden;
}
.login-input {
    text-align: center;
    width: 360px;
    height: 60px;
    margin-top: 24px;
    border-radius: 12px;
    border: none;
    font-size: 2em;
    display: inline-block;
    font-family: 'Conv_EASansCurves-Regular', Sans-Serif;
}
.login-submit {
    background: #FECE21;
    font-size: 2em;
    width: 360px;
    height: 60px;
    margin-top: 24px;
    border-radius: 12px;
    border: none;
    font-family: Sans-Serif;
    text-decoration: none;
    display: inline-block;
}
.login-create {
    font-size: 0.8em;
    color: #FFFFFF;
    font-family: Sans-Serif;
    margin-top: 24px;
    display: inline-block;
}