.zoom-25 {
    zoom: 0.25;
    -moz-transform: scale(0.25);
}
.zoom-50 {
    zoom: 0.5;
    -moz-transform: scale(0.5);
}
.zoom-75 {
    zoom: 0.75;
    -moz-transform: scale(0.75);
}

/* Main View */
.user-bg {
    display: inline-block;
    margin-left: 48px;
    margin-top: 52px;
}
.logo-bg {
    display: block;
    margin-top: -200px;
    margin-left: 2232px;
}
.logo-horizontal {
    display: inline-block;
    margin-top: 200px;
    margin-left: 400px;
}
.profile-picture {
    width: 400px;
    height: 400px;
    background: url("../images/players/placeholder.png") -100px 0px;
    background-size: cover;
    display: block;
}
.user-info {
    width: 300px;
    height: 200px;
    margin-top: -200px;
    margin-left: 200px;
    display: block;
}
.username {
    font-family: Sans-Serif;
    font-weight: 700;
    font-size: 4em;
    margin-top: 30px;
    margin-left: 30px;
    display: inline-block;
}
.school-id {
    font-family: 'Conv_EASansCurves-Regular', Sans-Serif;
    font-weight: 300;
    font-size: 3em;
    margin-top: 15px;
    margin-left: 30px;
    display: block;
}
.user-money {
    width: 600px;
    height: 200px;
    margin-top: -200px;
    margin-left: 500px;
    display: block;
}
.ep {
    margin-top: 30px;
    display: inline-block;
}
.matthew {
    margin-top: 10px;
    display: block;
}
.ep-amount, .matthew-amount {
    font-family: 'Conv_EASansCurves-Regular', Sans-Serif;
    font-weight: 300;
    font-size: 3em;
    margin-top: 12px;
    margin-left: 80px;
    display: inline-block;
}

/* Navigation */
.menu-bar {
    margin-top: 48px;
    margin-left: 48px;
    width: 2784px;
    display: flex;
    justify-content: space-between;
}
.menu-item {
    display: inline-block;
    width: 400px;
    height: 100px;
    line-height: 100px;
    background-color: #333333;
    border: solid 4px #fece21;
    font-family: 'Conv_EASansCurves-Regular', Sans-Serif;
    font-weight: 300;
    font-size: 5em;
    color: #fece21;
    text-align: center;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: #cc3333 !important;
}
.menu-dropdown {
    display: none;
    position: absolute;
    background-color: #333333;
    text-align: center;
    width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu-dropdown a {
    font-family: 'Conv_EASansCurves-Regular', Sans-Serif;
    font-weight: 300;
    font-size: 4em;
    border-bottom: solid 4px #fece21;
    color: #fece21;
    padding-top: 18px;
    padding-bottom: 8px;
    text-decoration: none;
    cursor: pointer;
    display: block;
}
.menu-dropdown a:hover {background-color: #000000}
.dropdown:hover .menu-dropdown {
    display: block;
}
.active {
    background-color: #fece21 !important;
    border: solid 4px #ffffff !important;
    color: #000000 !important;
}
.disabled {
    background-color: #dddddd !important;
    border: solid 4px #ffffff !important;
    color: #ffffff !important;
    cursor: default !important;
}
.tab-item {

}

/* Landing page */
.no-margin {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
}
.landing-bg {
    width: 2880px;
    height: 1800px;
    background: linear-gradient(to bottom, #220816, #420A0A);
}
.landing-login {
    display: block;
    margin-top: -1140px;
    margin-left: 1200px;
}
.landing-logo {
    display: inline-block;
    margin-left: 240px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 80px;
}
.loading {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    margin-left: 380px;
    margin-top: 1480px;
    display: inline-block;
}

/* Login field */
.login-field {
    display: block;
    text-align: center;
}
.login-title {
    color: #FFFFFF;
    font-family: 'Conv_EASansCurves-Regular', Sans-Serif;
    font-size: 4em;
    font-weight: 300;
    margin-top: 48px;
    margin-bottom: 24px;
    display: inline-block;
}
.login-validation {
    color: #FF0000;
    font-family: Sans-Serif;
    font-size: 1em;
    visibility: hidden;
}
.login-input {
    text-align: center;
    width: 360px;
    height: 60px;
    margin-top: 24px;
    border-radius: 12px;
    border: none;
    font-size: 2em;
    display: inline-block;
    font-family: 'Conv_EASansCurves-Regular', Sans-Serif;
}
.login-submit {
    background: #FECE21;
    font-size: 2em;
    width: 360px;
    height: 60px;
    margin-top: 24px;
    border-radius: 12px;
    border: none;
    font-family: Sans-Serif;
    text-decoration: none;
    display: inline-block;
}
.login-create {
    font-size: 0.8em;
    color: #FFFFFF;
    font-family: Sans-Serif;
    margin-top: 24px;
    display: inline-block;
}